.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .list-container {
    padding: 2px 16px;
    height: 300px;
  }

  span.block-el > * {
      display: block;
  }

  .addBtn {
      background: #bb86fc;
      padding: 5px;
      color: white;
      text-transform: uppercase;

  }
  .btn-class {
    text-align: center;
    margin-bottom: 10px;
  }